.home_container {
    display: flex;
    padding: 0 50px;
    max-width: 1024px;
    margin: 40px auto 0;
    padding: 10px;
    align-items: flex-start;

    .transaction_list_container {
        flex: 1;
        padding: 0 40px 0;

        .transaction_list {
            display: flex;
            flex-direction: column;

            .transaction_item {
                box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.10), 0 1px 5px 0 rgba(0, 0, 0, 0.15), 0 3px 1px -2px rgba(0, 0, 0, 0.1);
                padding: 10px;
                border-radius: 2px;
                margin-bottom: 10px;
                position: relative;
                display: flex;
                padding-right: 30px;
                justify-content: space-between;


                .close_button{
                    position: absolute;
                    right: 3px;
                    top: 3px;
                    display: inline-block;
                    background-color: red;
                    color: #fff;
                    border-radius: 50%;
                    padding: 7px;

                    .close_child{
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
            }
        }
    }

    .transaction_manager {
        width: 350px;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15), 0 1px 5px 0 rgba(0, 0, 0, 0.22), 0 3px 1px -2px rgba(0, 0, 0, 0.1);
        padding: 30px 20px;
        border-radius: 5px;
        margin: 27px auto 40px;


        input[type="submit"] {
            margin-top: 13px;
        }
    }

    .transaction_heading {
        font-weight: normal;
        margin-bottom: 10px;
    }

}

@media (max-width:700px) {
    .home_container {
        flex-direction: column-reverse;
        padding: 10px 20px;
    }

    .home_container .transaction_manager {
        width: 80%;
    }

    .transaction_list_container {
        padding: 10px 0;
    }
}