@import '../../valiables.scss';

.main-nav {
    display: flex;
    justify-content: space-around;
    padding: 15px 50px;
    background-color: $primary-color;
    color: $text-color;
    box-shadow: 0 0 10px rgba(0,0,0,.4);


    a, .menu_item {
        color: $text-color-white;
    }

    .logo-brand {
        font-weight: bold;
        font-size: 1.2rem;
    }

    .menu-items a, .menu-items .menu_item {
        margin: 0 10px;
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }
}

@media (max-width:500px) {
    .main-nav {
        justify-content: space-between;
        padding: 20px 10px;
    }
}