.loading_page {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .loader_container{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 100px;
        span {
            font-weight: bold;
            font-size: 1.3rem;
        }
    
        .loader {
            display: inline-block;
            border: 3px solid #e6e6e6;
            border-top: 3px solid #3498db;
            border-radius: 50%;
            width: 28px;
            height: 28px;
            margin-right: 10px;
            animation: spin 800ms linear infinite;
        }
    }
    
}



@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}