@import '../../valiables.scss';

#signup_form {
    margin: 40px auto 0;
    max-width: 380px;
    display: flex;
    flex-direction: column;
    padding: 10px;

    .signup_form_header {
        margin-bottom: 15px;
    }
}