@import-normalize;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

@import "./valiables.scss";

* {
    margin: 0px;
    border: 0px;
    padding: 0px;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    text-decoration: none;
}

a {
    color: $text_color;
}

body {
    margin: 0;
    font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $text_color;
}

.btn {
    margin-top: 5px;
    background-color: $primary-color-btn;
    color: $text-color-white;
    cursor: pointer;

    &:disabled {
        opacity: .8;
        pointer-events: none;
    }
}

.btn:hover {
    background-color: $primary-color-hover ;

}

.form-input {
    margin: 8px 0;
    display: flex;
    flex-direction: column;

    label {
        margin: 5px 0;
        color: $label-color;
        font-size: .85rem;
    }

    input {
        border: 1px solid $border-color;
        padding: 8px 4px;
        border-radius: 3px;
    }

    &.error{    
        input {
            border: 1px solid $border-color-error;
            box-shadow:0 0 2px $border-color-error;
            padding: 8px 4px;
            border-radius: 3px;
        }
    }
}

.error-msg{
    color: $border-color-error;
    font-size: 0.9rem;
}
