$text_color: #333;
$text-color-white: #FFF;
$label-color: #333;

$primary-color: rgb(0, 35, 192);
$primary-color-btn :rgb(0, 42, 231);
$primary-color-hover :rgb(23, 66, 255);

$border-color: rgba(0, 0, 0, 0.15);
$border-color-error: rgb(255, 0, 0);